{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="">
<head>
<title>Sislaf</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
<style>
    
</style>
</head>
<body id="top">
<div class="wrapper row3">
  <main class="hoc container clear">

    <section id="introblocks">
      <ul class="nospace group btmspace-80">
        {% for i in pr %}
        <li class="one_third">
          <figure><a class="imgover" href={{i.get_url}}><img src="{{i.img.url}}" alt="" style="height: 200;width: 300;"></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.desc|truncatechars:100}}</p>
              <br>
              <p>Price: {{i.price}} Rs</p>
              <br>
              <p>Stock Left: {{i.stock}}</p>
            </figcaption>
          </figure>
        </li>


{% endfor %}



      </ul>
    </section>
    <hr class="btmspace-80">

    <div class="clear"></div>
  </main>
</div>

</div>

<script src="{% static 'hm/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>
{% endblock %}